@import 'tailwindcss';

@import '@angular/cdk/overlay-prebuilt.css';

@theme {
  --color-surface-glass: rgb(255 255 255 / 0.05);
  --color-border-glass: rgb(255 255 255 / 0.1);
  --color-border-glow: rgb(255 255 255 / 0.2);
  --color-border: rgb(255 255 255 / 0.1);
  --color-accent-start: #f43f5e;
  --color-accent-end: #fb923c;
  --color-text-base: #f8fafc;
  --color-text-muted: #94a3b8;
}

@layer base {
  body {
    @apply bg-[#020617] text-base;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    @apply border-border;
  }
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: radial-gradient(circle at 80% 20%, #0891b2, transparent 40%);
  opacity: 0.3;
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: radial-gradient(circle at 20% 80%, #be185d, transparent 40%);
  opacity: 0.3;
}
